@import "tailwindcss";

.message {
  @apply m-5 max-w-xl rounded-lg py-2 px-5 break-words inline-block shadow-sm;
  clear: both;
}

.message.user {
  @apply float-right bg-green-400;
}

.message.ai {
  @apply float-left bg-gray-100;
}

.timestamp {
  @apply mt-1 text-xs block;
}

.timestamp.user {
  @apply text-gray-100 text-right;
}

.timestamp.ai {
  @apply text-gray-500 text-left;
}


.message.user {
  margin-left: 25%;
}

.message.ai {
  margin-right: 25%;
}
