@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --background: #2a3858;
  --text-primary: #ffffff;
  --text-secondary: #a0aec0;
  --sidebar-bg: #2d3748;
  --chat-bg: #131416;
  --input-bg: #252b35;
  --button-bg: #4299e1;
  --button-text: #ffffff;
  --message-bg-ai: #0c1321;
  --message-bg-user: #01559abb;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: var(--text-primary);
}


